@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  font-family: Poppins, Helvetica;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 

.btn-outlined {
  @apply bg-white  border-2 border-[#3AA1FF] text-[#3AA1FF] hover:bg-[#3AA1FF] hover:text-white
}


.btn-outlined:hover{
  background: #3AA1FF !important;
  color: white !important;
}

.ant-collapse, .ant-collapse-item,.ant-collapse-header,.ant-collapse-content{
  border: none !important;
}

.ant-collapse-header {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  gap: 3px;
  padding: 10px;
  color: #5C5C5C !important;
  font-size: 1.02rem;
  background: white;
}

.ant-collapse-content-box{
  @apply  flex pl-10 justify-start p-2 text-[#5C5C5C] flex-col gap-5
}

.ant-collapse-content-box{
  display: flex !important;
  justify-content: start !important;
  padding: 0.5rem !important;
  padding-left: 2rem !important;
  color: #5C5C5C !important;
  flex-direction: column !important;
  gap: 1.25rem !important;
  margin-left: 20px;
  font-size: 1.005rem;
}

.ant-collapse-content-box a {
  @apply flex items-center justify-between gap-2 p-3 rounded-full
}

button{
  @apply hover:bg-none cursor-pointer
}

.loadmorebg{
 background: hsla(241, 100%, 81%, 1);

background: linear-gradient(90deg, hsla(241, 100%, 81%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(241, 100%, 81%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(241, 100%, 81%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A2A0FF", endColorstr="#FFFFFF", GradientType=1 );
@apply text-white
}

.card-1-bg{
  background: hsla(245, 100%, 74%, 1);

background: linear-gradient(45deg, hsla(245, 100%, 74%, 1) 20%, hsla(304, 100%, 74%, 1) 100%, hsla(0, 0%, 100%, 1) 100%, hsla(302, 93%, 73%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(245, 100%, 74%, 1) 20%, hsla(304, 100%, 74%, 1) 100%, hsla(0, 0%, 100%, 1) 100%, hsla(302, 93%, 73%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(245, 100%, 74%, 1) 20%, hsla(304, 100%, 74%, 1) 100%, hsla(0, 0%, 100%, 1) 100%, hsla(302, 93%, 73%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8378FF", endColorstr="#FF78F5", GradientType=1 );
@apply text-white
}

.card-2-bg {
  background: hsla(115, 100%, 64%, 1);

background: linear-gradient(45deg, hsla(115, 100%, 64%, 1) 0%, hsla(191, 96%, 64%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(115, 100%, 64%, 1) 0%, hsla(191, 96%, 64%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(115, 100%, 64%, 1) 0%, hsla(191, 96%, 64%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#56FF47", endColorstr="#4BDBFB", GradientType=1 );

@apply text-white
}

.card-3-bg{

  background: hsla(0, 100%, 80%, 1);

background: linear-gradient(45deg, hsla(0, 100%, 80%, 1) 0%, hsla(39, 100%, 80%, 1) 100%);

background: -moz-linear-gradient(45deg, hsla(0, 100%, 80%, 1) 0%, hsla(39, 100%, 80%, 1) 100%);

background: -webkit-linear-gradient(45deg, hsla(0, 100%, 80%, 1) 0%, hsla(39, 100%, 80%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF9999", endColorstr="#FFDB99", GradientType=1 );
@apply text-white
}


.btn-filled{
 @apply flex items-center justify-center gap-2 bg-[#3AA1FF] text-white  hover:bg-white hover:text-[#3AA1FF] border-2
}

.btn-filled:hover{
  background: white !important;
  color: #3AA1FF !important;
  border: 2px solid #3AA1FF;
}

  
input, input:focus{
  outline:none !important;
}


*::-webkit-scrollbar{
  width: 5px !important;
  height: 1px !important;
  background: #fff;
  visibility: hidden;
}

*::-webkit-scrollbar-thumb{
  background-color: #D9D9D9 !important;
  border-radius: 50px;
}


a .active-icon{
  display: none !important;
}

a.text-white .active-icon{
  display: block !important;
}


@media screen and (max-width:1025px) {
    .aside {
      display: flex !important;
      position: absolute !important;
      z-index: 20;
      width: 40%;
      height: 100%;
      /* top: 4%; */
    }

    .ant-collapse-header {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  gap: 3px;
  padding: 10px;
  color: #5C5C5C !important;
  font-size: 1.02rem;
  background: white;
}


.ant-collapse-content-box{
  display: flex !important;
  justify-content: start !important;
  padding: 0rem !important;
  padding-left: 2rem !important;
  color: #5C5C5C !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  margin-left: 20px;
  font-size: 0.9rem;
}

.ant-collapse-content-box a {
  @apply flex items-center justify-between gap-2 p-2 rounded-full
}

}


@media screen and (max-width: 650px) {
  .aside {
    width: 50%;
  }
}


@media screen and (max-width: 450px) {
  .aside {
    width: 100%;
  }
}


.MuiPickersDay-root{
  color: #3AA1FF !important;
}

.MuiPickersDay-root[aria-selected="true"]{
  color: #3AA1FF !important;
  background: none !important;
  border: 1px solid #3AA1FF;
}

.highlighted .MuiPickersDay-root {
  color:white !important;
  border-radius: 0px;
}

.MuiPickersCalendarHeader-root *, .MuiDayCalendar-header * {
  color: #3AA1FF !important;
}

